.checkout-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.checkout-input {
  width: 300px;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.checkout-input::placeholder {
  color: #888;
}

.checkout-button {
  width: 200px;
  height: 40px;
  background-color: #005bbb;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.6s;
}

.checkout-button:hover {
  background-color: #ffd500;
}

.checkout-button:focus {
  outline: none;
}

.checkout-button:active {
  background-color: #ff0000;
}
