@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;700&display=swap");
.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
}
.product-item {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  &__title {
    font-weight: 700;
    font-size: 1.2rem;
    margin: 10px 0;
  }
  &__price {
    margin-top: 5px;
    font-size: 1.3rem;
    font-weight: bold;
    color: #000000;
    margin: 10px 0;
  }
  &__article {
    font-weight: 600;
    font-size: 1rem;
    color: #666;
    margin: 0;
  }
  &__colors {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  &__img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}
.product-btn-wrapper {
  margin-top: 10px;
  display: flex;
  gap: 5px;
}
.close-button {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 0;
  right: 0;
  height: 7%;
  width: 7%;
  color: black;
}
