.checkout-content {
  font-family: "Courier New", Courier, monospace;
  margin-top: 10px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #303030;
}
.checkout-text {
  margin-top: 10px;
}

.down--arrow {
  display: block;
}
.checkout-nothing-wrapper {
  display: flex;
  gap: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.checkout-btn {
  font-weight: 600;
  border-radius: 50px;
  padding: 10px 20px;
  border: none;
  color: #ffffff;
  background-image: linear-gradient(to bottom, #000000, #ff0000);
  text-align: center;
  font-size: 14px;
  margin: 0 auto;
  animation: gradientTransition 1s infinite alternate;
}

@keyframes gradientTransition {
  0% {
    background-image: linear-gradient(to bottom, #000000, #ff0000);
  }
  100% {
    background-image: linear-gradient(to bottom, #005bbb, #ffd500);
  }
}
