.modal-open {
  overflow: hidden;
}
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-behavior: unset;
}

.modal-content {
  position: relative;
  background-color: #005cbf;
  width: 500px;
  max-width: 90%;
  border-radius: 10px;
  padding: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-header h3 {
  margin: 0;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}

.close-button-modal {
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 20px;
}

.close-button-modal:hover {
  color: #ccc;
}

.modal-body {
  color: #fff;
  margin-bottom: 20px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.modal-footer button {
  background-color: #fff;
  color: #005cbf;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}

.modal-footer button:hover {
  background-color: #ccc;
}

.modal-footer .ok-button {
  background-color: #005cbf;
  color: #fff;
}

.modal-footer .ok-button:hover {
  background-color: #00469e;
}
